
/* Styles for the whole page */
.allocated-list-container {
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Display child elements in a column */
    justify-content: center;
    align-items: center;
  }
  
  /* Styles for the table container */
.allocated-table-container {
  width: 80%;
  background-color: #d9dddc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  overflow: auto; /* Add horizontal scroll if table exceeds container width */
}

/* Styles for the table */
.allocated-table {
  width: 100%; /* Occupy the full width of the table container */
  border-collapse: collapse; /* Collapse the borders between cells */
}

.allocated-table th,
.allocated-table td {
  padding: 10px 15px; /* Add padding to create spacing between cells */
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.allocated-table th {
  background-color: #b8b8b8;
  color: #3e424b;
  font-weight: bold;
}

.allocated-table tbody tr:last-child td {
  border-bottom: none;
}

  .allocated-table-scroll {
    max-height: 400px; /* Set the maximum height for the scrollable container */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds container height */
  }
  

  /* Style for the Allocated List title */
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #3e424b;
    margin-bottom: 20px;
  }
  