/* Styles for the allot page */
.allot-page {
    background-color: #ece7e7;
    padding: 20px;
    border-radius: 5px;
  }
  
  /* Styles for the table */
  .allot-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Styles for table headers (th) */
  .thStyle {
    background: #485665;
    color: #fff;
    padding: 10px;
    text-align: left;
  }
  
  /* Styles for table cells (td) */
  .tdStyle {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  /* Styles for the form container */
  .form-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Styles for form groups */
  .form-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  /* Styles for form labels */
  .form-label {
    flex: 1;
  }
  
  /* Styles for form inputs */
  .form-input {
    flex: 3;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Styles for the submit button */
  .submit-button {
    background: #485665;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
  }
  
  /* Zoom in transition on row hover */
  .allot-table tbody tr:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  