/* Floor.css */

.floor-container {
    background-color: #dbd9d9; /* Background color for the page */
    padding: 20px;
  }
  
  .floor-table-courses {
    background-color: #bfbdbd; /* Background color for the table */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    flex: 0 0 48%;
    max-width: 48%;
  }
  
  .floor-card {
    text-align: center;
  }
  
  .floor-text {
    margin-top: 20px;
    color: #333;
    font-weight: bold;
  }
  